@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 950px;
    margin: auto;
}

button {
    padding: .5rem 2rem;
    border: none;
    color: white;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
}